body {
    height:100%;
    background-color: aliceblue;
}

.main-content {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10% auto 0 auto;
    background-color: white;
    padding: 15px;
}

.center-elem{
    margin: 0 auto;
}

.question-content {
    align-items: center;
    margin: 10% auto 0 auto;
    background-color: white;
    padding: 30px;
}
.question-content pre{
    font-size:20px;
}

.question-container{
    display: flex;
    justify-content: space-between;
}